apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: GitRepository
metadata:
  name: metacontrollers
  namespace: flux-system
spec:
  interval: 5m
  url: https://github.com/warroyo/metacontrollers.git
  ref:
    branch: main
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: configmap-prop-crd
  namespace: flux-system
spec:
  interval: 10m0s
  path: configmap-propogator/v1/
  prune: true
  sourceRef:
    kind: GitRepository
    namespace: flux-system
    name: metacontrollers
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: configmap-prop-install
  namespace: flux-system
spec:
  interval: 10m0s
  path: configmap-propogator/manifest/
  prune: true
  sourceRef:
    kind: GitRepository
    namespace: flux-system
    name: metacontrollers